<div class="flex flex-col h-screen font-poppins">
  <app-header></app-header>
  <app-top-bar (toggleSidebar)="toggleSidebar()" (roleSelected)="onRoleSelected($event)"
  (locationSelected)="onLocationSelected($event)"></app-top-bar>

  <div class="flex flex-grow bg-gray-t0">
    <app-side-bar
      class="h-full transition-transform duration-500 ease-in-out"
      [ngClass]="{ 'min-w-fit': isSidebarVisible, 'hidden': !isSidebarVisible }"
      (toggle)="toggleSidebar()"
      (tagsChanged)="onTagsChanged($event)"
    ></app-side-bar>
    <div
      class="flex-grow transition-width duration-500 ease-in-out delay-150"
      [ngClass]="{ 'w-full': !isSidebarVisible }"
    >
    <app-content
    [selectedTags]="selectedTags"
    [selectedRole]="selectedRole"
    [selectedLocation]="selectedLocation"
    ></app-content>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
